.product {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  .img {
    max-width: 100%;
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  .content {
    flex: 1;
    .title {
      color: var(--text);
      font-size: 1.2rem;
      font-weight: bold;
    }

    .description {
      color: var(--text);
      font-size: 1rem;
    }
  }
}
