.header {
  background-color: var(--background);
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title{
    color: var(--text);
    font-size: 1.5rem;
  }
}